.card{
    max-width:300px;
    padding: 0 30px 60px 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.4);
    overflow: hidden;
    &:hover{
        div{
            bottom: 0;
        }
    }

    div{
        margin-top: 25px;
        display: flex;
        gap: 30px;
        justify-content: center;
        position: relative;
        bottom: -150px;
        transition: 0.5s;

        button{
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                scale: 1.1;
            }
            &:nth-child(1){
                background-color: black;
                color: white;
                width: 170px;
                padding: 8px;
                font-size: 20px;
                border: none;
                border-radius: 5px
            }
            &:nth-child(2){
                width: 40px;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
    img{
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }
}
.card1{
    background-color: rgb(182, 53, 53);
}

.card2{
    background-color: rgb(75, 177,217 );
    img{
        transform: translateY(35px);
        scale: 1.1;
    }
}